// Variables start

$text-color:#70737C;
$black-color:#1F2533;
$green-color:#359740;
$grey-color:#EFEFEF;
$main-font: 'Montserrat',sans-serif;

%flex-between{
  display: flex;
  align-items: center;
  
}

// Variables end